[submodule "ThirdParty/mPartition"]
	path = ThirdParty/mPartition
	url = https://github.com/thulekm/mPartition
[submodule "ThirdParty/RatePartitions"]
	path = ThirdParty/RatePartitions
	url = https://github.com/jadrankarota/RatePartitions
[submodule "ThirdParty/Seq-Gen"]
	path = ThirdParty/Seq-Gen
	url = https://github.com/rambaut/Seq-Gen